<div class="form-group row">
    <%= phone_form.label :phone, class: "col-2 col-form-label text-light" %>
    <div class="col-10"> 
    <%= phone_form.text_field :phonenumber, type: "text", class: "form-control shadow rounded", placeholder: "phone number" %>
    </div>
</div>