<h3 class="text-center text-white">Welcome to the Homepage</h3>
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black">
      <h1 class="display-4 ">DispatchTrack</h1>
      <p class="lead">user crud operations with rails</p>
      <p class="lead">including User validations and associations</p>

      <hr class="my-4">
      
      <%= link_to "Sign up!", new_user_path, class: "btn btn-success btn-lg"%>
  </div>
</div>
